# coding: utf-8

"""
    SerpsBot

    Our APIs allow data miners to harvest huge volumes of data from Google and other search engines.  # noqa: E501

    OpenAPI spec version: 2.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from serpsbot.api_client import ApiClient


class GoogleSearchAPIApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def organic_extended_google_organic_extended_post(self, body, **kwargs):  # noqa: E501
        """Organic Extended  # noqa: E501

        Get extended search results from Google Search including knowledge card data and more SERP elements. You can also request raw SERPs HTML.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.organic_extended_google_organic_extended_post(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ExtendedSearchRequest body: (required)
        :return: ExtendedResultResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.organic_extended_google_organic_extended_post_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.organic_extended_google_organic_extended_post_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def organic_extended_google_organic_extended_post_with_http_info(self, body, **kwargs):  # noqa: E501
        """Organic Extended  # noqa: E501

        Get extended search results from Google Search including knowledge card data and more SERP elements. You can also request raw SERPs HTML.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.organic_extended_google_organic_extended_post_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ExtendedSearchRequest body: (required)
        :return: ExtendedResultResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method organic_extended_google_organic_extended_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `organic_extended_google_organic_extended_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/google/organic-extended', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ExtendedResultResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def organic_results_google_organic_search_post(self, body, **kwargs):  # noqa: E501
        """Organic Results  # noqa: E501

        This endpoint gets you the organic results and it is designed to handle very high-volume use keeping the cost lower. You can request multiple Google Search pages in a single API call.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.organic_results_google_organic_search_post(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AppApisGoogleOrganicSchemasSearchRequest body: (required)
        :return: AppApisGoogleOrganicSchemasResultResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.organic_results_google_organic_search_post_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.organic_results_google_organic_search_post_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def organic_results_google_organic_search_post_with_http_info(self, body, **kwargs):  # noqa: E501
        """Organic Results  # noqa: E501

        This endpoint gets you the organic results and it is designed to handle very high-volume use keeping the cost lower. You can request multiple Google Search pages in a single API call.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.organic_results_google_organic_search_post_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AppApisGoogleOrganicSchemasSearchRequest body: (required)
        :return: AppApisGoogleOrganicSchemasResultResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method organic_results_google_organic_search_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `organic_results_google_organic_search_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/google/organic-search', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AppApisGoogleOrganicSchemasResultResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def search_suggestions_google_search_suggestions_post(self, body, **kwargs):  # noqa: E501
        """Search Suggestions  # noqa: E501

        Get search suggestions from Google for your provided list of keywords.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_suggestions_google_search_suggestions_post(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SuggestionRequest body: (required)
        :return: SuggestionsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.search_suggestions_google_search_suggestions_post_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.search_suggestions_google_search_suggestions_post_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def search_suggestions_google_search_suggestions_post_with_http_info(self, body, **kwargs):  # noqa: E501
        """Search Suggestions  # noqa: E501

        Get search suggestions from Google for your provided list of keywords.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_suggestions_google_search_suggestions_post_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SuggestionRequest body: (required)
        :return: SuggestionsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method search_suggestions_google_search_suggestions_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `search_suggestions_google_search_suggestions_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader']  # noqa: E501

        return self.api_client.call_api(
            '/google/search-suggestions', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SuggestionsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
